#salad {
  display: none;
}

.green-background {
  background-color: green;
}

.blue-background {
  background-color: blue;
}

.red-background {
  background-color: red;
}

.white-background {
  background-color: white;
}